<h1>All Shoes</h1>
<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Shoes shoes in Model.allShoes) {
            @Html.Partial("Allshoes", shoes)
        }
    }
</div>